body{  margin: 0; padding: 0px; font-family: Arial, Helvetica, sans-serif;align-items: center;}
.inicio{ background-color: rgb(89, 52, 147) ; color: white; display:flex;
   justify-content:center; font-size: 1.5rem; }

   


.zap{ background-color: greenyellow; border-radius: 5px; text-align: center;}
.site{ background-color: orange;border-radius: 5px; text-align: center;}
.inscreva{display: flex;list-style: none; gap: 30px;}

.info{ display: flex; justify-content: space-around;
   color:rgb(89, 52, 147) ; font-size: 2rem;  }

.estados{display: flex;justify-content: left; margin-top: 30px; 
  font-size: 1.5rem; padding: 30px; gap: 40px; background-color: rgb(89, 52, 147); 
  text-align: center; border-radius: 20px;  margin-bottom: 20px; padding: 50px;} 

h1{color: white; text-align: center;
   font-size: 2.5rem; background-color: orange; border-radius: 10px;}
a{ color: antiquewhite;}

.qualidades{ display: grid;grid-template-columns: 1fr 1fr; margin:0px;
   padding: 60px;border-radius: 20px; text-align:justify;
  background-color: orange; color: antiquewhite; font: 1.5rem sans-serif;}

.qualidades2{display: grid; grid-column: 1fr; align-items: center;
  justify-content:left ; margin-top: 30px; 
  font-size: 1.5rem; padding: 20px; gap: 30px; background-color: rgb(89, 52, 147); 
  text-align: center; border-radius: 20px; gap: 10px; margin-left: 50px;
    margin-bottom: 20px;  color: aliceblue;}

    .rodape{ text-align: center;font-family:'Times New Roman', Times, serif;}






 


  
